Project.json
[
    {
        "id": "876534ebd21f26b4",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d0c708f50a08775",
        "type": "mqtt out",
        "z": "876534ebd21f26b4",
        "name": "",
        "topic": "flourescent_based_sensor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d6d44eaaa0b8be6",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "93920f5edee9e39b",
        "type": "mqtt out",
        "z": "876534ebd21f26b4",
        "name": "",
        "topic": "IV_level_sensor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d6d44eaaa0b8be6",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "3e3eba2ba14142ea",
        "type": "inject",
        "z": "876534ebd21f26b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"Active\"",
        "payloadType": "str",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "28a3e83bee9bd232",
                "c95973ce2f73825a",
                "304deb792803a689",
                "bf30ff3d0512b3b9",
                "056904d5de4d59d9",
                "f20d9aacd54470bc",
                "97947f6b47e24943",
                "259b75d8cdc7865d",
                "6e05ad54e47fe322"
            ]
        ]
    },
    {
        "id": "28a3e83bee9bd232",
        "type": "random",
        "z": "876534ebd21f26b4",
        "name": "Random float",
        "low": "0",
        "high": "1000",
        "inte": "false",
        "property": "payload",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "93920f5edee9e39b"
            ]
        ]
    },
    {
        "id": "2b8f65f47d6258d1",
        "type": "mqtt out",
        "z": "876534ebd21f26b4",
        "name": "",
        "topic": "heart_beat_sensor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d6d44eaaa0b8be6",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "9e32577ecd2817c4",
        "type": "mqtt out",
        "z": "876534ebd21f26b4",
        "name": "",
        "topic": "camera_sensor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d6d44eaaa0b8be6",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "1b9a248279e41fe6",
        "type": "mqtt out",
        "z": "876534ebd21f26b4",
        "name": "",
        "topic": "thermal_sensor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d6d44eaaa0b8be6",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "34653c77ef011756",
        "type": "mqtt out",
        "z": "876534ebd21f26b4",
        "name": "",
        "topic": "Microbial_sensor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d6d44eaaa0b8be6",
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "14dbee2d4c7843d5",
        "type": "mqtt out",
        "z": "876534ebd21f26b4",
        "name": "",
        "topic": "room_pressure_sensor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d6d44eaaa0b8be6",
        "x": 750,
        "y": 580,
        "wires": []
    },
    {
        "id": "959452dce8d5f6a4",
        "type": "mqtt out",
        "z": "876534ebd21f26b4",
        "name": "",
        "topic": "humidity_sensor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d6d44eaaa0b8be6",
        "x": 900,
        "y": 660,
        "wires": []
    },
    {
        "id": "8ff8b12414a1de4c",
        "type": "mqtt out",
        "z": "876534ebd21f26b4",
        "name": "",
        "topic": "temperature_sensor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d6d44eaaa0b8be6",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "304deb792803a689",
        "type": "random",
        "z": "876534ebd21f26b4",
        "name": "Random float",
        "low": "0",
        "high": "120",
        "inte": "true",
        "property": "payload",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "2b8f65f47d6258d1"
            ]
        ]
    },
    {
        "id": "c95973ce2f73825a",
        "type": "random",
        "z": "876534ebd21f26b4",
        "name": "Random float",
        "low": "20",
        "high": "30",
        "inte": "false",
        "property": "payload",
        "x": 510,
        "y": 620,
        "wires": [
            [
                "8ff8b12414a1de4c"
            ]
        ]
    },
    {
        "id": "6e05ad54e47fe322",
        "type": "random",
        "z": "876534ebd21f26b4",
        "name": "Random float",
        "low": "0",
        "high": "15",
        "inte": "false",
        "property": "payload",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "14dbee2d4c7843d5"
            ]
        ]
    },
    {
        "id": "bf30ff3d0512b3b9",
        "type": "random",
        "z": "876534ebd21f26b4",
        "name": "Random integer",
        "low": "100",
        "high": "190",
        "inte": "true",
        "property": "payload",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "7d0c708f50a08775"
            ]
        ]
    },
    {
        "id": "056904d5de4d59d9",
        "type": "random",
        "z": "876534ebd21f26b4",
        "name": "Random integer",
        "low": "0",
        "high": "80",
        "inte": "true",
        "property": "payload",
        "x": 520,
        "y": 660,
        "wires": [
            [
                "959452dce8d5f6a4"
            ]
        ]
    },
    {
        "id": "f20d9aacd54470bc",
        "type": "random",
        "z": "876534ebd21f26b4",
        "name": "Random integer",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "9e32577ecd2817c4"
            ]
        ]
    },
    {
        "id": "97947f6b47e24943",
        "type": "random",
        "z": "876534ebd21f26b4",
        "name": "Random integer",
        "low": "50",
        "high": "250",
        "inte": "true",
        "property": "payload",
        "x": 520,
        "y": 440,
        "wires": [
            [
                "34653c77ef011756"
            ]
        ]
    },
    {
        "id": "259b75d8cdc7865d",
        "type": "random",
        "z": "876534ebd21f26b4",
        "name": "Random float",
        "low": "35",
        "high": "40",
        "inte": "true",
        "property": "payload",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "1b9a248279e41fe6"
            ]
        ]
    },
    {
        "id": "3d6d44eaaa0b8be6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1889",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]